* {
  font-family: "Inter", Helvetica, sans-serif;
  font-size: 62.5%;
}

body {
  background-color: #0d0d0d;
  color: #f2f2f2;
  font-size: 1.4rem;
}

.section-header header {
  text-align: center;
}

.section-header header h1 {
  font-size: 4rem;
  font-weight: 800;
}

.container {
  width: 100%;
  max-width: 736px;
  margin: 0 auto;
}

.section-add-task .form-container {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 8px;
}

.section-add-task .form-container input {
  width: 90%;
  background-color: #262626;
  border-radius: 8px;
  border: 0;
  padding: 10px;
  font-size: 1.6rem;
  font-weight: 400;
  color: #808080;
  outline: none;
  height: calc(54px - 20px);
}

.section-add-task .form-container button {
  width: 10%;
  min-width: 90px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 8px;
  height: 54px;
  border-radius: 8px;
  outline: none;
  border: none;
  cursor: pointer;
}

.section-add-task .form-container button span {
  font-size: 1.4rem;
  font-weight: 600;
}
